@import "~bootstrap/scss/bootstrap-grid";
@import "../../assets/scss/variables";

.active-route {
  color: $brand-success;
}

.navbar {

  &-brand {
    font-size: 45px;
    font-family: "Baskerville Old Face";
  }

  .nav {

    &-item {
      border-top: solid 1px $brand-primary;
      text-align: center;
      letter-spacing: 3px;
      font-size: 1.2rem;

      @include media-breakpoint-up(lg) {
        border: none;
      }
    }

  }

}