@import "../../assets/scss/base/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.header {
    background-color: theme-color-level("primary", 3);
    border-bottom: 1px solid theme-color("info");
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1020;
}

.navbar {
    min-height: 55px;

    &-brand {
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        min-width: 60px;
    }

    .nav {

        &-item {
            text-align: center;
            letter-spacing: 3px;
            font-size: 1.2rem;

            @include media-breakpoint-up(md) {
                font-size: 1.1rem;
            }
        }

        &-link {
            border-top: solid 1px theme-color("secondary");

            @include media-breakpoint-up(md) {
                border: none;
            }
        }
    }

}