// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin blog-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  // Auto fill ugliness on forms
  input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px mat-color($primary, 900) inset !important;
    -webkit-text-fill-color: mat-color($accent);
  }

  .mat-input-container {
    label {
      color: mat-color($primary, 400);
    }

    .mat-input-underline {
      border-color: mat-color($primary, 400);
    }

    input, textarea {
      color: mat-color($accent);
    }
  }

  .form {
    background-color: mat-color($primary, 900);
    border: 5px solid mat-color($primary);
  }

  .main-navigation {
    background-color: mat-color($primary);
    border-bottom: solid 4px mat-color($primary, 300);
    a {
      color: white;
    }
    a:hover {
      color: mat-color($accent);
      text-decoration: none;
    }
  }

  button[md-raised-button][disabled] {
    color: mat-color($warn) !important;
  }

  .main-footer {
    background-color: mat-color($primary, 200);
  }

  .material-icons {
    color: mat-color($primary);
  }
}
