// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin blog-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-input-container {
    label {
      color: mat-color($primary, 400);
    }

    .mat-input-underline {
      border-color: mat-color($primary, 400);
    }

    input, textarea {
      color: mat-color($accent);
    }
  }

  form {
    border-radius: 10px;
    background-color: mat-color($primary, 900);
    padding-top: 10px;
  }

  .main-navigation {
    top: 0;
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: mat-color($primary);
    border-bottom: solid 4px mat-color($primary, 400);
    a {
      padding: 10px 15px;
      text-decoration: none;
      font-size: 1.4rem;
      color: white;
    }
    a:hover {
      color: mat-color($accent);
      text-decoration: none;
    }

  }
}
