@import "variables";

html, body {
    color: #fff;
    font-size: 18px;
    height: 100vh;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    width: 100vw;
}

pre code {
    overflow-x: auto;
}

button, a {
    cursor: pointer;
}