$primary: #1f2833;
$secondary: #66fcf1;
$success: #45a29e;
$info: #a9a9bd;
$danger: #e61414;
$light: #c5c6c7;

/*
 * Bootstrap Overrides
 */
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "danger": $danger,
        "light": $light
);
$link-color: $info;
$link-hover-color: $secondary;
$body-bg: $primary;
$body-color: #fff;
$code-bg: $light;
$code-color: $primary;

$sizes: (
        25: 25%,
        50: 50%,
        75: 75%,
        85: 85%,
        100: 100%
);

$navbar-light-color: #fff;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;
$navbar-light-toggler-border-color: $secondary;

// End Bootstrap Overrides
