$background-color: #0e2439;

/*
 * Bootstrap Overrides
 */

// colors
$white: #fff;

// branding
$brand-primary: #009688;
$brand-success: #19ef21;
$brand-info: #455a64;
$brand-danger: #e61414;
// TODO pick colors
$brand-warning: #000;

$brand-inverse: #000;

// nav
$navbar-light-color: $white;
$navbar-light-hover-color: $brand-success;
$navbar-light-active-color: $brand-success;
$navbar-light-toggler-border: $background-color;

// links
$link-color: $white;

// End Bootstrap Overrides
