html, body {
    color: #fff;
    display: flex;
    font-size: 18px;
    height: 100%;
    min-height: 100%;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    width: 100vw;
}

pre code {
    overflow-x: auto;
}

button, a {
    cursor: pointer;
}

button[disabled] {
    cursor: not-allowed;
}