@import "../../../assets/scss/variables";

.blog-list {
  padding: 0;

  .blog-list-item-image {
    margin: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  .blog-list-item {
    margin: 40px 0;
  }

  .blog-list-item-description {
    color: white;
  }

  .blog-list-item-reference {
    padding: 0 25px;

    &:hover {
      text-decoration: none;
      color: $brand-success;
    }
  }
}