@import "../../../assets/scss/variables";

.blog-list {
  padding: 0;

  &-item {
    margin: 40px 0;

    &-description {
      color: white;
    }

    &-reference {
      margin: 0 25px;

      &:hover {
        text-decoration: none;
        color: $brand-success;
      }
    }

    &-image {
      border-radius: 50%;
      margin: auto;
      width: 250px;
      height: 250px;
    }

  }
}