@import "../../../assets/scss/base/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.post-list {
    list-style: none;
    min-height: 400px;

    &-item {
        margin: 20px 0;

        &:hover {
            text-decoration: none;

            .post-list-item-card-image {
                opacity: .4;
            }

            .post-list-item-reference {
                text-decoration: none;
            }

            .post-list-item-description {
                color: theme-color("light");
            }
        }

        &-card {
            padding: 0;

            &-image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                height: 190px;
                opacity: .65;

                @include media-breakpoint-up(md) {
                    height: 220px;
                }

                &-container {
                    position: relative;
                }

                &-status {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                }

                &-timestamp {
                    bottom: 8px;
                    font-size: .9rem;
                    left: 10px;
                    position: absolute;
                }
            }
        }

        &-description {
            color: $white;
            margin-top: 10px;
        }

        &-title {
            font-size: 1.025rem;
        }
    }
}

.create-new-post-button {
    margin-bottom: 15px;
}

.category-list {
    .list-group-item {
        &:hover {
            .badge {
                color: theme-color("primary");
                background-color: theme-color("secondary");
            }
        }
        &-active {
            .badge {
                color: theme-color("primary");
                background-color: theme-color("secondary");
            }
        }
    }
}

.pagination {
    font-size: 20px;
}

.page {

    &-item {
        display: flex;

        &.active {
            .page-link {
                background-color: theme-color-level("primary", 3);
                border: 1px solid #ddd;
                color: theme-color("secondary");

                &:hover {
                    color: theme-color-level("secondary", 3);
                }
            }
        }

        &.disabled {
            cursor: not-allowed !important;

            .page-link {
                background-color: $gray-700;
            }
        }
    }

    &-link {
        background-color: theme-color-level("primary", 3);
        color: $white;
        font-size: 1.75rem;
        padding: 5px 25px;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }

        i {
            color: $white;
        }

        &:hover {
            color: theme-color-level("secondary", 3);
            i {
                color: theme-color-level("secondary", 3);
            }
        }
    }

}