@import "../../../assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.post-list {
    list-style: none;

    &-item {
        margin: 20px 0;

        &:hover {
            text-decoration: none;

            .post-list-item-card-image {
                opacity: .4;
            }

            .post-list-item-reference {
                text-decoration: none;
            }

            .post-list-item-description {
                color: theme-color("light");
            }
        }

        &-card {
            padding: 0;

            &-image {
                height: 190px;
                opacity: .65;

                @include media-breakpoint-up(md) {
                    height: 220px;
                }

                &-container {
                    position: relative;
                }

                &-overlay {
                    position: absolute;
                    bottom: 8px;
                    right: 16px;
                }
            }
        }

        &-description {
            color: $white;
            font-size: .925rem;
            margin-top: 10px;
        }

        &-title {
            font-size: 1.025rem;
        }
    }
}

.create-new-post-button {
    margin-bottom: 15px;
}

.category-list {
    .list-group-item {
        &:hover {
            .badge {
                color: theme-color("primary");
                background-color: theme-color("secondary");
            }
        }
        &-active {
            .badge {
                color: theme-color("primary");
                background-color: theme-color("secondary");
            }
        }
    }
}