@import "../../../assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.post-list {
    list-style: none;
    padding: 0;

    &-title {
        font-size: 3.5rem;
    }

    &-item {
        margin: 40px 0;

        &-description {
            color: white;
        }

        &-reference {
            margin: 0 25px;

            &:hover {
                text-decoration: none;
                color: theme-color("secondary");
            }
        }

        &-image {
            border-radius: 50%;
            margin: auto;
            width: 250px;
            height: 250px;
        }

    }
}

.category-list {
    .list-group-item {
        &:hover {
            .badge {
                color: theme-color("primary");
                background-color: theme-color("secondary");
            }
        }
        &-active {
            .badge {
                color: theme-color("primary");
                background-color: theme-color("secondary");
            }
        }
    }
}