@import "../../../assets/scss/base/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.post {
    max-width: 2500px;

    &-hero {
        height: 300px;
        background-color: theme-color-level("primary", 4);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;

        @include media-breakpoint-up(md) {
            height: 400px;
        }

        @include media-breakpoint-up(lg) {
            height: 500px;
        }
    }

    &-title {
        margin-top: 20px;
    }

    &-content {
        margin-top: 20px;
    }

    &-actions {
        margin-bottom: 15px;

        &-item {
            margin: 0 5px;
        }
    }

    &-share {
        &--desktop {
            font-size: 2.2rem;
            margin-top: 20px;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
            position: fixed;
            top: 65%;
            left: 3%;
            text-align: right;

            &-link {
                i {
                    transition: all .2s ease-in-out;
                }

                &:hover {
                    i {
                        color: $info;
                        transform: scale(1.2);
                    }
                }
            }
        }

        &--mobile {
            bottom: 20px;
            position: fixed;
            left: 30px;
            z-index: $zindex-popover;
        }
    }
}