@import "../../../assets/scss/base/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.post {
    max-width: 2500px;

    &-hero {
        height: 300px;
        background-color: theme-color-level("primary", 4);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;

        @include media-breakpoint-up(md) {
            height: 400px;
        }

        @include media-breakpoint-up(lg) {
            height: 500px;
        }
    }

    &-title {
        margin-top: 20px;
    }

    &-content {
        margin-top: 20px;
    }

    &-actions {
        margin-bottom: 15px;

        &-item {
            margin: 0 5px;
        }
    }

    &-share {

        &-list {
            background-color: $gray-100;
            border-radius: 5px;
            border: 2px solid $info;
            bottom: 48px;
            display: flex;
            justify-content: space-around;
            font-size: 2.2rem;
            left: 15px;
            list-style: none;
            line-height: normal;
            margin: 0;
            padding: 0 10px;
            position: fixed;
            z-index: $zindex-popover;

            &-item {
                display: flex;

                &-link {
                    padding: 10px;

                    i {
                        transition: all .2s ease-in-out;
                    }

                    &:hover {
                        i {
                            color: $info;
                            transform: scale(1.2);
                        }
                    }
                }
            }

            &:before, &:after {
                top: 100%;
                left: 17%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(241, 241, 241, 0);
                border-top-color: $gray-100;
                border-width: 7px;
            }

            @include media-breakpoint-up(md) {
                background-color: initial;
                border: none;
                left: 2%;
                padding: 0;
                top: 45%;

                &:before, &:after {
                    border: none;
                }

                &-item-link {
                    padding: 3px;
                }
            }

            @include media-breakpoint-up(lg) {
                left: 2.5%;
            }

            @include media-breakpoint-up(xxl) {
                left: 4.5%;
            }
        }

        &-btn {
            bottom: 10px;
            left: 10px;
            position: fixed;
            z-index: $zindex-fixed;
        }
    }
}