<div class="container-fluid post">
    <div class="row justify-content-center align-items-center" *ngIf="post">

        <div class="col-12">
            <div class="row">
                <div *ngIf="isAdmin()" class="col-11">
                    <div class="post-actions row justify-content-center justify-content-md-end">
                        <button class="btn btn-secondary btn-sm post-actions-item" routerLink="/posts/create">Create New Post
                        </button>
                        <button *ngIf="post" class="btn btn-secondary btn-sm post-actions-item"
                                routerLink="/posts/update/{{ post.attributes.slug }}">Update Post
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 post-hero d-block d-md-none" [style.background-image]="'url(' + post.attributes.imagePathSm + ')'"></div>
        <h1 class="post-title d-block d-md-none text-left text-sm-center text-secondary col-11">{{post?.attributes?.title}}</h1>

        <div class="col-12 post-hero d-none d-md-block d-lg-none"
             [style.background-image]="'url(' + post.attributes.imagePathMd + ')'">
            <div class="row align-items-center h-100">
                <h1 #postTitleMedium class="col-6 offset-1 post-title text-secondary">{{post?.attributes?.title}}</h1>
            </div>
        </div>

        <div class="col-12 post-hero d-none d-lg-block" [style.background-image]="'url(' + post.attributes.imagePathLg + ')'">
            <div class="row align-items-center h-100">
                <h1 #postTitleLarge class="col-6 offset-1 post-title text-secondary">{{post?.attributes?.title}}</h1>
            </div>
        </div>


        <div class="col-12">
            <div class="row">
                <div class="post-share--desktop d-none d-md-block col-1">
                    <ul class="post-share-list" [class.d-none]="shouldHideSocialIcons">
                        <li>
                            <a (click)="facebookSharePost()" class="post-share-list-link"><i class="fa fa-facebook-square facebook-icon" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a class="post-share-list-link" target="_blank"
                               href="https://twitter.com/intent/tweet?text={{ encodedComponents.title }}&url={{ encodedComponents.url }}&hashtags=fullheapdeveloper">
                                <i class="fa fa-twitter-square twitter-icon" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="post-content col-12 col-md-11">
                    <blog-post-content [parsedContent]="content"></blog-post-content>
                </div>
            </div>
        </div>

        <div #shareButtons>
            <a (click)="facebookSharePost()" class="post-share-list-link"><i class="fa fa-facebook-square facebook-icon" aria-hidden="true"></i></a>
            <a class="post-share-list-link" target="_blank"
               href="https://twitter.com/intent/tweet?text={{ encodedComponents.title }}&url={{ encodedComponents.url }}&hashtags=fullheapdeveloper">
                <i class="fa fa-twitter-square twitter-icon" aria-hidden="true"></i></a>
        </div>

    </div>

    <button type="button" class="d-md-none post-share--mobile btn btn-sm btn-secondary" data-post-share data-container="body"
            data-toggle="popover"
            data-placement="top">
        Share
    </button>


</div>