<div class="container-fluid">
    <div class="row justify-content-center">

        <form [formGroup]="blogCreateForm" (ngSubmit)="onSubmit()" method="get" class="contact-form col-10 col-lg-8" novalidate>
            <div class="row justify-content-center">
                <h2 class="col-10 text-center text-primary">Create Blog</h2>

                <fieldset class="form-group col-10">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title" formControlName="title" autofocus>
                </fieldset>

                <fieldset class="form-group col-10">
                    <label for="slug">Slug</label>
                    <input class="form-control" type="text" name="slug" id="slug" formControlName="slug">
                </fieldset>

                <fieldset class="form-group col-10">
                    <label for="content">Content</label>
                    <input class="form-control" type="text" name="content" id="content" formControlName="content">
                </fieldset>

                <fieldset class="form-group col-10">
                    <label for="category">category<span class="required">*</span></label>
                    <textarea class="form-control" name="category" id="category" rows="4" formControlName="category"></textarea>
                </fieldset>

                <fieldset class="form-group col-10">
                    <label for="image">image<span class="required">*</span></label>
                    <textarea class="form-control" name="image" id="image" rows="4" formControlName="image"></textarea>
                </fieldset>

                <button class="btn btn-primary col-10 contact-form-submit-button" type="submit" [disabled]="!blogCreateForm.valid">
                    Submit
                </button>
            </div>
        </form>
    </div>

</div>