<div class="container-fluid">
    <div class="row justify-content-center">

        <form [formGroup]="postCreateForm" (ngSubmit)="onSubmit()" method="post" class="contact-form col-12 col-lg-6"
              novalidate enctype="multipart/form-data" target="_blank">
            <div class="row justify-content-center">

                <div class="col-11 col-md-8">
                    <div class="row justify-content-center">
                        <h2 class="col-12 text-center text-secondary">Create Post</h2>

                        <fieldset class="form-group col-12">
                            <label for="image">Image</label>
                            <input type="file" class="form-control-file" id="image" aria-describedby="imageHelp" #image>
                            <small id="imageHelp" class="form-text text-muted">Optimal images are sized with a height 1.5x the
                                width.
                            </small>
                        </fieldset>

                        <fieldset class="form-group col-12">
                            <label for="title">Title<span class="required">*</span></label>
                            <input class="form-control" type="text" name="title" id="title" formControlName="title" autofocus
                                   postSlugify="slug">
                        </fieldset>

                        <fieldset class="form-group col-12">
                            <label for="slug">Slug<span class="required">*</span></label>
                            <input class="form-control" type="text" name="slug" id="slug" formControlName="slug">
                        </fieldset>

                        <fieldset class="form-group col-12">
                            <label for="category">Category<span class="required">*</span></label>
                            <select name="category-id" id="category" class="form-control" formControlName="category-id">
                                <option *ngFor="let category of categories" [value]="category.id">
                                    {{category.attributes.name}}
                                </option>
                            </select>
                        </fieldset>
                    </div>
                </div>

                <div class="col-11">
                    <div class="row justify-content-center">

                        <fieldset class="form-group col-12">
                            <label for="content">Content<span class="required">*</span></label>
                            <textarea class="form-control" name="content" id="content" rows="20"
                                      formControlName="content"></textarea>
                        </fieldset>
                    </div>
                </div>

                <button class="btn btn-secondary col-10 contact-form-submit-button" type="submit"
                        [disabled]="postCreateForm.invalid" attr.aria-disabled="{{postCreateForm.invalid}}">
                    Submit
                </button>
            </div>
        </form>

        <div class="col-12 col-lg-6">
            <blog-post-show [content]="postCreateForm.get('content').valueChanges"></blog-post-show>
        </div>

    </div>

</div>