// All styles are meant to style mobile first, media queries are used to handle larger devices
@import "assets/scss/defaults";
@import "assets/scss/utilities";
@import "assets/scss/variables";
@import "~bootstrap/scss/bootstrap";

.root {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
}