@import "~bootstrap/scss/bootstrap-grid";
@import "../../../assets/scss/variables";

.contact-description-groups {
  text-align: center;

  .contact-description-group {
    margin-top: 15px;
  }
}

.contact-form {
  .contact-form-submit-button {
    margin-bottom: 30px;
  }

}
