<div class="container-fluid">
    <div class="row">
        <div class="contact-description col">Content</div>

        <form [formGroup]="contactCreateForm" (ngSubmit)="onSubmit()" method="get" class="contact-form col" novalidate>
            <blog-input fieldName="test" fieldLabel="Label">
                <input name="test" id="test" type="text">
            </blog-input>
            <button md-raised-button class="contact-submit-button" color="accent" type="submit" disabled="{{contactCreateForm.status === 'INVALID'}}">
                Submit
            </button>
        </form>
    </div>
</div>