<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-md-6"></div>

        <div class="col-xs-12 col-md-6">
            <div class="row">

                <form action="/action_page.php" method="get" class="col-xs-offset-1 col-xs-10">
                    <div class="row">
                        <md-input-container class="col-xs-10" color="accent">
                            <input mdInput placeholder="First Name">
                        </md-input-container>
                        <md-input-container class="col-xs-10" color="accent">
                            <input mdInput placeholder="Last Name">
                        </md-input-container>
                        <md-input-container class="col-xs-10" color="accent">
                            <input mdInput placeholder="Email">
                        </md-input-container>
                        <md-input-container class="col-xs-10" color="accent">
                            <textarea mdInput autofocus required mdTextareaAutosize minRows="6"
                                      placeholder="Comments"></textarea>
                        </md-input-container>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
