h2 {
  font-size: 2.5rem;
}

dl {
  font-size: 1.3rem;
}

form {
  padding: 0;

  md-input-container:first-of-type {
    margin-top: 15px;
  }
}

button {
  margin: 10px 10%;
}

md-input-container {
  padding: 0;
}